
.welcome{
  background-image: url("../img/h_img.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1 {
  text-align: center;
  color: white; 
}
.welcome img{
  margin-top: 150px;
}
.welcome p{
  size: 10px;
  text-align: center;
  color: white;
}
h1 {
  text-align: center;
  color: black;
}
p {
  color: black;
  text-align: center;
}
.service {
  background-image: url("../img/s_image.jpg");
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;

}
.head-service {
  color: white;
  text-align: center;
  size: 10px;

}
.service p {
  color: white;
  text-align: center;
}
.column {
  float: left;
  width: 33%;
  padding: 5px;
  color: black;
}
.row {
  display: flex;
  color: black;
}
.column {
  flex: 33%;
  padding: 5px;
  color: black;
}
.contact {
  color: white;
  background-image: url("../img/c_image.jpg");
}
h4 {
  text-align: center;
}